version: "3.3"
services:
  nginx:
    image: nginx:alpine
    container_name: nginx_test
    restart: unless-stopped
    ports:
      - "8081:80"
    volumes:
      - ./nginx/config:/etc/nginx/conf.d
    networks:
      - internal
  app:
    build: ./php
    container_name: php
    restart: unless-stopped
    networks:
      - internal
  
  mysql:
    image: mysql:8.1
    container_name: mysql
    restart: unless-stopped
    volumes:
      - ./mysql:/var/lib/mysql
    ports:
       - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: {{ root_pass}}
      MYSQL_USER: {{ user }}
      MYSQL_PASSWORD: {{ user_pass }}
      MYSQL_DATABASE: {{ database_name }}
networks:
  internal:
    driver: bridge

volumes:
  mysql:
